@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(20px); /* Adjust as needed */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-section {
  animation: reveal 0.5s ease forwards;
}